backends/client-legacy/soapui-mocks/wsdl/SSI_PersonneClient_CreerFichePersonne-v1.0.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions name="SSI_PersonneClient_CreerFichePersonne_P"
     targetNamespace="http://www.mma.fr/PersonneClient/SSI_CreerFichePersonne"
     xmlns:tns="http://www.mma.fr/PersonneClient/SSI_CreerFichePersonne"
     xmlns:fault="http://oracle.com/MMA-SDM/commonschemas/public"
     xmlns:type="http://www.mma.fr/Datatype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" >

	<wsdl:types>
            <xsd:schema 
                targetNamespace="http://www.mma.fr/PersonneClient/SSI_CreerFichePersonne"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                xmlns:commun="http://www.mma.fr/Commun"
                xmlns:perscom="http://www.mma.fr/PersonneClient/Commun"
                
                elementFormDefault="qualified">
                <xsd:import namespace="http://www.mma.fr/Datatype" schemaLocation="xsd/DatatypeString.xsd"/>
                <xsd:import namespace="http://oracle.com/MMA-SDM/commonschemas/public" schemaLocation="xsd/PublicFault.xsd"/>
                <xsd:import namespace="http://www.mma.fr/Commun" schemaLocation="xsd/ContexteUtilisateur.xsd"/>
                <xsd:import namespace="http://www.mma.fr/PersonneClient/Commun" schemaLocation="xsd/StructureRattachement.xsd"/>
                <xsd:import namespace="http://www.mma.fr/PersonneClient/Commun" schemaLocation="xsd/FichePersonne.xsd"/>
                <xsd:import namespace="http://www.mma.fr/PersonneClient/Commun" schemaLocation="xsd/FichePersonnePhysique.xsd"/>
                <xsd:import namespace="http://www.mma.fr/PersonneClient/Commun" schemaLocation="xsd/FichePersonneMorale.xsd"/>

                <!-- Detail de la question -->
                <xsd:element name="DetailDeLaQuestion">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="ContexteUtilisateur" type="commun:ContexteUtilisateur"/>
                            <xsd:element name="TypeFiche" type="perscom:CodePers" />
                            <xsd:element name="ReferenceExterneFichePersonne" type="perscom:ReferenceExterneFichePersonne" minOccurs="0" />
                            <xsd:element name="ReferenceFichePersonne" type="perscom:ReferenceFichePersonne" minOccurs="0" />
                            <xsd:element name="ListeStructureDeRattachement" minOccurs="0" maxOccurs="5" >
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="StructureDeRattachement" type="perscom:StructureRattachement" />
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="ListeOperationQualiteFichePersonne" minOccurs="0" maxOccurs="20">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="OperationQualiteFichePersonne" type="perscom:OperationQualiteFichePersonne" />
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="OrigineFichePersonne"  type="perscom:OrigineFichePersonne" />
                            
                            <xsd:choice minOccurs="1" maxOccurs="1">
                                <xsd:element name="IdentiteFichePersonnePhysique" type="perscom:IdentiteFichePersonnePhysique" minOccurs="0" />
                                <xsd:element name="IdentiteFichePersonneMorale" type="perscom:IdentiteFichePersonneMorale" minOccurs="0" />
                            </xsd:choice>
                            
                            <xsd:element name="ProfessionFichePersonnePhysique" type="perscom:ProfessionFichePersonnePhysique" minOccurs="0" />
                            <xsd:element name="ActiviteFichePersonneMorale" type="perscom:ActiviteFichePersonneMorale" minOccurs="0" />
                            <xsd:element name="ListeSousActiviteFichePersonneMorale" minOccurs="0" maxOccurs="3" >
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="SousActiviteFichePersonneMorale" type="perscom:SousActiviteFichePersonneMorale" />
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="InterlocuteurFichePersonneMorale" type="perscom:InterlocuteurFichePersonneMorale" minOccurs="0" />
                            <xsd:element name="CaracteristiquesParticulieresFichePersonne" type="perscom:CaracteristiquesParticulieresFichePersonne" minOccurs="0" />
                        </xsd:sequence>
                    </xsd:complexType>               
                </xsd:element><!-- Fin de la question -->
                    
                <!-- Detail de la réponse -->
                <xsd:element name="DetailDeLaReponse">
                    <xsd:complexType>
                            <xsd:sequence>
                                    <xsd:element name="ReferenceApplicativeFichePersonne" type="xsd:string"/>
                                    <xsd:element name="ReferenceFichePersonne" type="perscom:ReferenceFichePersonne" minOccurs="0" />
                            </xsd:sequence>
                    </xsd:complexType>
                </xsd:element><!-- Fin de la réponse -->
            </xsd:schema>
	</wsdl:types>
        
	<wsdl:message name="CreerFichePersonneRequestMessage">
            <wsdl:part name="DetailDeLaQuestion" element="tns:DetailDeLaQuestion"/>
	</wsdl:message>
	<wsdl:message name="CreerFichePersonneResponseMessage">
		<wsdl:part name="DetailDeLaReponse" element="tns:DetailDeLaReponse"/>
	</wsdl:message>
	<wsdl:message name="faultMessage">
		<wsdl:part name="DET-FAULT" element="fault:fault"/>
	</wsdl:message>
	<wsdl:portType name="execute_ptt">
		<wsdl:operation name="creerFichePersonne">
			<wsdl:input message="tns:CreerFichePersonneRequestMessage"/>
			<wsdl:output message="tns:CreerFichePersonneResponseMessage"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	
    <wsdl:binding name="execute_pttBinding_SSI_CreerFichePersonne" type="tns:execute_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="creerFichePersonne">
            <soap:operation style="document" soapAction="creerFichePersonne"/>
            <wsdl:input >
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>	
	
     <wsdl:service name="SSI_CreerFichePersonne">
        <wsdl:port name="execute_pt" binding="tns:execute_pttBinding_SSI_CreerFichePersonne">
            <soap:address location="http://localhost:8088/mockexecute_pttBinding_SSI_CreerFichePersonne"/>
        </wsdl:port>
    </wsdl:service>	
</wsdl:definitions>
